
<nav>
    <header>
        <a href="">
            chulmin han
        </a>
    </header>
    <ul class="work_type_nav">
        <li>
            <a href="">
            digital
            </a>
        </li>
        <li>
            <a href="">
            material
            </a>
        </li>
    </ul>
    <ul class="logos">
        <li class="linkedin_logo">
            <a href="">
                <div id="linkedin_logo_inside">
                    in
    
                </div>
            </a>
        </li>
        <li class="instagram_logo">
            <a href="">
                <div id="instagram_logo_inside">
                </div>
                <div id="instagram_logo_dot">
                </div>
            </a>
        </li>
        <li class="contact_logo">
            <a href="">
                <div id="contact_logo_inside">
                </div>
            </a>
        </li>
    </ul>
</nav>