
<nav>
    <header>
        chulmin han
    </header>
    <ul class="work_type_nav">
        <li>
            digital
        </li>
        <li>
            material
        </li>
    </ul>
    <ul class="logos">
        <li class="linkedin_logo">
            <div id="linkedin_logo_inside">
                in

            </div>
        </li>
        <li class="instagram_logo">
            <div id="instagram_logo_inside">
            </div>
            <div id="instagram_logo_dot">
            </div>
        </li>
        <li class="contact_logo">
            <div id="contact_logo_inside">
            </div>
        </li>
    </ul>
</nav>