.all_works {
    display: flex;
    height: 90%;
}

.ind_works {
    display: block;
    position: relative;
    height: 150px;
    width: 150px;
    margin: 30px;

    a {
        display: flex;
        text-decoration: none;
        width: inherit;
        height: inherit;

        h2 {
            position: absolute;
            font-weight: normal;
            color: #fff;
            font-size: 50px;
            z-index: 1;
            text-align: center;
            align-self: center;
            width: 100%;
            font-style: italic;
        }

        img {
            object-fit:cover;
            width: inherit;
            height: inherit;
        }
    }
}

